/* Fonts */

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Regular.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Bold.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Form Validation */

:root {
  --red-600: #e53935;
  --gray-400: #bdbdbd;
  --gray-900: #212121;
}

body {
  font-family:
    Inclusive Sans,
    Arial,
    Helvetica,
    sans-serif;
  color: var(--gray-900);
}

form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid var(--gray-400);
}

form button {
  background: none;
  display: block;
  margin-left: auto;
  border: 2px solid var(--gray-400);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
